<section style="margin-top: 3%" class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-2">

      </div>
      <!-- left column -->
      <div class="col-md-8">
        <!-- general form elements -->
        <div class="card card-primary">
          <div class="card-header">
            <h3 class="card-title">Create New Project</h3>
          </div>

          <div class="card-body">
            <div class="form-group">
              <label>Project Name</label>
              <input [(ngModel)]="name" class="form-control" placeholder="Enter Name">
            </div>

          </div>


          <div class="card-footer">
            <button (click)="saveNewProject()" type="submit" class="btn btn-primary">Submit</button>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>
